.shop{
   border: 2px solid gray;
   border-radius: 30px;
   margin: 0 15px 15px 15px;
   padding-bottom: 15px;
  
}
.shop img{
    height: 250px;
    width: 250px;
}
.name{
color: cornflowerblue;
font-weight: bold;
}
.price{
    color: coral;
    font-weight: bold;
}
.company{
    color:darkcyan;
    font-weight: bold;
}

.shop button{
    /* margin-bottom: 10px; */
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color:white;
    background-color: #0D6EFD;
        border: 2px solid #0D6EFD;
}
.shop button:hover{
    background-color: white;
    border: 2px solid #0D6EFD;
    color:#0D6EFD;
}