.footer{
    margin: 25px 0px 0 155px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footer-each{
    line-height: 70%;
    text-align: left;
}
.footer-each img{
padding-bottom: 55px;
}
.footer-each h4{
    padding-bottom: 8px;
    color: #0D6EFD;
}
.footer-social{
    display: flex;
}
.footer-social-icon{
   
    color:#0D6EFD;
}
.footer p{
    color:gray;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}